.about__nfts {
  padding-top: 30px;
  width: 80%;
  max-width: 1700px;
  margin: 0 auto;
  margin-bottom: 30px;
}
.about__nfts {
  border-top: 1px solid grey;
}
.aboutNft__container {
  margin-top: 30px;
  display: flex;
  padding: 20px;
  border-radius: 10px;
  background-color: rgb(34, 32, 32);
}
.aboutNft__container span {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 10px;
}
.aboutNft__container p {
  flex: 1;
  margin-top: 30px;
}
