.welcome__container {
  margin: 0 auto;
  max-width: 1500px;
  width: 80%;
}
.welcome__img {
  width: 430px;
  border-radius: 10px;
  margin-right: 25px;
}
.aboutus__info p {
  border-radius: 10px;
  padding: 10px 20px;
  /* box-shadow: 0px 0px 3px 1px rgba(236, 233, 233, 0.22); */

  background-color: rgb(34, 32, 32);
}
@media screen and (max-width: 1365px) {
  .welcome__img {
    width: 380px;
  }
}

@media screen and (max-width: 1080px) {
  .welcome__img {
    width: 310px;
  }
}

@media screen and (max-width: 1000px) {
  .welcome__img {
    margin-top: 50px;
  }
}
@media screen and (max-width: 400px) {
  .welcome__img {
    width: 80vw;
  }
}
