.gallery__container {
  /* display: flex; */
  border-top: 1px solid grey;
  /* padding: 10px 220px; */
  width: 80%;
  padding-top: 100px;
  max-width: 1700px;
  margin: 0 auto;

  margin-top: 50px;
  /* justify-content: space-between; */
}
.filters__container {
  margin-right: 100px;
  width: 300px;
}
.filters__container p {
  color: rgb(192, 201, 180);
  font-size: 18px;
  cursor: pointer;
  border-bottom: 1px solid gray;
  padding-right: 100px;
  padding-bottom: 10px;
  margin-bottom: 30px;
}
.nfts__container {
  display: flex;
  flex-wrap: wrap;
}
.nft__img {
  width: 270px;
}
.single__nft {
  display: flex;
  margin-bottom: 15px;
  flex-direction: column;
}
.single__nft span {
  margin-top: 10px;
  font-size: 20px;
}
.nft__img {
  border-radius: 15px;
}
/* @media screen and (max-width: 1600px) {
  .nft__img {
    width: 250px;
  }
  .nfts__container {
  }
}
@media screen and (max-width: 1540px) {
  .nft__img {
    width: 220px;
  }
  .nfts__container {
  }
}
@media screen and (max-width: 1450px) {
  .nft__img {
    width: 190px;
  }
  .nfts__container {
  }
}
@media screen and (max-width: 1365px) {
  .gallery__container {
    padding: 10px 110px;
  }

  .nft__img {
    width: 200px;
  }
} */
