.backdground__container {
  padding: 30px 0 30px 250px;
  /* background-color: aqua; */
  background-image: url("../../assets/img/background.jpg");
  background-position: center;
  background-size: contain;
  /* height: 70vh; */
  animation: animation2 2s forwards;
  background-repeat: no-repeat;
}
.test {
}
.background__text p {
  font-size: 100px;
  margin-bottom: 30px;
  animation: animation1 2s forwards;
}

@keyframes animation1 {
  from {
    transform: translate(-700px);
  }
  to {
    transform: translate(0);
  }
}

@keyframes animation2 {
  from {
    background-position: center;
  }
  to {
    background-position: right;
  }
}
.background__text {
  margin-top: 10px;
  font-family: "Gilroy";
  margin-left: 1vw;
  width: auto;
}

.background__text {
  overflow: hidden;
}
@media (max-width: 1100px) {
  .background__text p {
    font-size: 70px;
  }
}
@media (max-width: 1025px) {
  .backdground__container {
    padding: 0 100px;
  }
  .background__text {
    margin-top: 20px;
  }
}
@media (max-width: 900px) {
  .background__text p {
    font-size: 60px;
    margin-bottom: 30px;
  }
  .background__text {
    margin: 0;
  }
  .backdground__container {
  }
}
@media (max-width: 850px) {
  .background__text p {
    font-size: 40px;
    margin-bottom: 30px;
  }
}
@media (max-width: 650px) {
  .backdground__container {
    padding: 0 80px;
  }
  .background__text {
  }
  .background__text p {
    font-size: 6vw;
  }
}
@media (max-width: 450px) {
  .backdground__container {
    padding: 0 40px;
  }
}
@media (max-width: 300px) {
  .backdground__container {
    padding: 0 10px;
  }
}
